<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Airtech</title>
  </head>
  <body>
        <h4><b>Hello {{ username }}</b>,</h4>
        <p>
            This is to remind you of your scheduled flight for <b>{{ flight_name }}</b>
            seat number <b>{{ seat_number }}</b> </br>
            From <b>{{ origin }}</b> to  <b>{{ destination }}</b> on <b>{{ date }}</b>
        </p>
         <p> 
            Please check in for your flight three hours before <b>{{ time }}</b>,
            the <b>DEPARTURE TIME</b>
        </p>
        <p> 
            Thank you 
        </p>
        <p>Regards,</p>
        <p><h3>Airtech Team</h3></p>
  </body>
</html>
